<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Add User - MovieWeb</title>
</head>
<body>
<header>
    <img src="{{ url_for('static', filename='header_logo.png') }}" alt="Header Logo" class="header-logo">
</header>
    <h1>Add New User</h1>
    <div class="nav-container">
            <nav>
                <ul class="nav-list">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('list_users') }}">Users List</a></li>
                    <li><a href="{{ url_for('select_user') }}">Select User</a></li>
                </ul>
            </nav>
        </div>
    <form method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <button type="submit">Add User</button>
    </form>
    <a href="{{ url_for('list_users') }}">Back to Users List</a>
</body>
</html>
