<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Add User - MovieWeb</title>
</head>
<body>
    <h1>Add New User</h1>
    <div class="nav-container">
            <nav>
                <ul class="nav-list">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('list_users') }}">Users List</a></li>
                    <li><a href="{{ url_for('user_movies', user_id=1) }}">Movies</a></li>
                    <li><a href="{{ url_for('add_user') }}">Add User</a></li>
                    <li><a href="{{ url_for('add_movie', user_id=1) }}">Add Movie</a></li>
                    <li><a href="{{ url_for('update_movie', user_id=1, movie_id=1) }}">Update Movie</a></li>
                    <li><a href="{{ url_for('delete_movie', user_id=1, movie_id=1) }}">Delete Movie</a></li>
                </ul>
            </nav>
        </div>
    <form method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <button type="submit">Add User</button>
    </form>
    <a href="{{ url_for('list_users') }}">Back to Users List</a>
</body>
</html>
